
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
}

.logo {
  font-size: 1.5rem;
}

.search-bar {
  flex: 1;
  margin: 0 0.5rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.search-bar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Club List styles */
.clubList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.Club {
  background-color: #f4f4f4;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: calc(33.33% - 1rem); /* Adjust according to your layout */
  text-align: center;
}

.Club h3 {
  margin: 0;
  font-size: 1.2rem;
}

