/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Body styles with background image */
body {
  margin: 0;
  padding: 0;
  background-image: url('/bg.JPG');
  background-size: cover;
  background-position: center;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%; /* Ensure the navbar takes the full width of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.7);
  color: #450b0b;
  padding: 1rem;
}

.logo {
  flex: 1; /* Let the logo take the available space */
  text-align: center;
}

.logo img {
  width: 30px; /* Adjust the width of the logo as needed */
  height: auto;
  cursor: pointer; /* Make the logo clickable */
}

/* Search bar styles */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  max-width: 100px
}

.search-btn {
  background-color: #000000;
  color: #811d1d66;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}
  .HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .container {
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px; /* Adjust as needed */
  }
  
  /* Optional: Adjust button styles */
  button {
    margin: 0 10px;
    padding: 10px 20px;
  }
  

.search-btn:hover {
  background-color: #6c1110;
}

.clubList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Club {
  width: 200px; /* İstediğiniz genişliği ayarlayabilirsiniz */
  margin: 10px; /* Boşlukları ayarlayabilirsiniz */
  text-align: center;
}